body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: white;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header{
    background-color: transparent;
    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    height: inherit;
    background-color: white;
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen{
    background-image: url(archivosiniciales\imagenes\headercambio.jpg);
    height: auto;
    width: 100%;
    position: inherit;
    
    /* margin-bottom: 20px; */
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: left;
    width: 40%
    
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;

}

.nav-element:hover{
    text-decoration: underline;
    font-weight: bold;
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.section-1{
    height: 500px;
    background-color: white;

}

.section-2{
    height: 500px;
    background-color: black;
}

.section-3{
    height: 500px;
    background-color: white;
}

.footer{
    height: 200px;
    background-color: black;
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */
}

.text-footer{
    
    color: white;
    width: 60%;
    
    text-align:justify;    
    
}

.section-text{
    margin: 0;
    color: black;
    background:white;
    font-weight: bold;
    text-align: center;
}

.col-2{
    width: 49%;
    height: auto;
    display: inline-block;
    text-align: right;
}


.col-3{
    width: 33.08%;
    height: 470px;
    background-color: white;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;
}
.col-5{
    width: 19%;
    height: 470px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: white;
}

.service-content{
    padding: 0.5em 0;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}

.service-text.memebers{
    font-style: italic; 
}

.section-news > div:first-child{
    margin-bottom: 2px; 
}
.news{
    width: 100%;
    background-color: rgb(97, 95, 95);
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news > div:first-child{
    margin: 0 6px;
}

.news-data{
    width: 49%;
    height: 100%;
    background-color: rgb(97, 95, 95);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 20px 0;
    padding: 0 40px;
    color: white;
}

.news-text{
    color: white;
    text-align: justify;
    width: 49%;
    /* padding: 1em 0; */
    
    
}

.news-text > span.news-url{
    text-align: right;
}

.news-url{
    font-size: 10px;
    float: right;
}

.news-url > a{

    color: #ffffff; 
}

hr{
    color: white;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style:circle;
    display: flex;
    justify-content: space-evenly;    
}

.main-menu__item{
    line-height: 3;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: #bd0b0b;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
    color: darkgoldenrod;
}